html, body {
    background-color: #d3ddd3;
}
.image {
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

.image img {
    width: 600px;
    height: auto;
    
}

.home {
    display: flex;
    flex-direction: column;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
}