html, body {
    background-color:#a7c8f0;
}
.image {
    display: flex;
    justify-content: space-around;
    z-index: 2;
    
}

.image img {
    width: 500px;
    height: auto;
    background-size: cover;
}

.home {
    display: flex;
    flex-direction: column;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
}