.browse-feed {
    margin: auto;
}

/* .search {
    position: absolute;
    top: 155px;
    left: 20px;
    right: 20px;
  }  */

/* input {
    width: 265px;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 15px;
    transition: width 0.2s;
}  */

.donation-items {
   
    display: grid;
    padding: 20px;
    flex-wrap: wrap;  
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    /* margin: auto; */
    justify-content: center; 
}
