.browse-feed {
    margin: auto;
}

.filter-list {
    appearance: none;
    width: 180px;
    height: 45px;
    padding: 10px 1px ;
    /* text-align: center; */
    font-size: 15px;
    line-height: 16px;
    /* font-family: "Apercu Pro", -apple-system, BlinkMacSystemFont, Helvetica, sans-serif; */
    border: 2px solid rgb(8, 8, 8);
    border-radius: 3px;
    overflow-x: hidden;
    transition: all 0.15s linear 0s;
    /* color: rgb(0 0 0); */
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
}

.filter-title{
    font-size:18px;
    margin-bottom:10px;
}

.donation-items {
   
    /* display: grid; */
    padding: 20px;
    /* flex-wrap: wrap;   */
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    /* margin: auto; */
    justify-content: center; 
}

#category-list {
    margin-top: 10px;
    appearance: none;
    width: 180px;
    height: 40px;
    padding: 10px 1px;
    font-size: 15px;
    line-height: 16px;
    border: 2px solid rgb(8, 8, 8);
    border-radius: 3px;
    overflow-x: hidden;
    transition: all 0.15s linear 0s;
    background: url(data:image/svg+xml,<svg  ) no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
}