@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import "@fontsource/rubik"; 
body {
	font-family: "Rubik", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-tab-nav {
	min-width: 250px;
}
.button-press {
    padding: 20px;
}
.tab-content {
    
	flex: 1;
}
.mb-4 {
    color:rgb(14, 122, 223);
    font-size: 22px;
}
.Profile .account-details {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    gap: 10px;
    border: 5px solid rgb(14, 122, 223);
    padding: 16px 28px;
    background: rgb(240, 245, 248);
    padding: 8px 16px;
   
    flex-direction: column;
    border-radius: 4px;
    flex-direction: column;
    max-width: 550px;
    /* max-height: 900px; */
    margin: 0 auto;
    grid-gap: 20px;
    gap: 20px;
}

.Profile .row {
    /* margin-left: 20px; */
    align-items:center;
    grid-gap: 15px;
    gap: 15px;
    font-size: 18px;
}
.password-resets{
    margin-top: 10px;
}

.password-tab {
    align-items:center;
    grid-gap: 15px;
    gap: 15px;
    font-size: 18px;
    background: rgb(240, 245, 248);
    border: 5px solid rgb(14, 122, 223);
    max-width: 580px;
    margin-bottom: 100px;
    margin: 0 auto;
    margin-top: 60px;
}
.manage-tab {
    align-items:center;
    grid-gap: 15px;
    gap: 15px;
    font-size: 18px;
    background: rgb(240, 245, 248);
    border: 5px solid rgb(14, 122, 223);
    max-width: 580px;
    margin-bottom: 100px;
    margin: 0 auto;
    margin-top: 60px;
}
.pic-Button{
    /* background-color: #0d275f; */
   
    background-image: linear-gradient(10deg, #2392c5 10%, #1130e2 100%);
    border:rgb(253, 253, 253);
    color: rgb(241, 241, 241);
    padding: 10px 10px;
    text-align: center;

    cursor: pointer;
    border-radius: 20px;
    display: inline-block;
    font-size: 14px;
}
.ratings-tab {
    align-items:center;
    grid-gap: 15px;
    gap: 15px;
    font-size: 18px;
    background: rgb(240, 245, 248);
    border: 5px solid rgb(14, 122, 223);
    max-width: 580px;
    margin-bottom: 100px;
    margin: 0 auto;
    margin-top: 60px;
}
.form-group {

    /* display: flex; */
    align-items: center;
    grid-gap: 15px;
    gap: 15px;
    font-size: 20px;
}
.label {
    
    width: 120px;
    font-weight: 600;
}
.form-group {
    
	margin-bottom: 1.5rem;
}

.acc-title {
    margin-bottom: 1.5rem;
}
a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid rgb(0, 0, 0);
	border-radius: 0;
	color: rgb(0, 0, 0);
}

.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
    border: 5px solid #fff;
    
}

.button-manage {
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    padding: 16px 20px;
    border-radius: 4px;
    align-items: center;
    border: 0;
    outline: 0;
    font-family: "Rubik", sans-serif;
    /* box-shadow: 0px 4px 20px 0px #2066a8a6; */
    background: #317bdb;
    /* background-image: linear-gradient(135deg, #000000 10%, #364fdb 100%); */
}

.acc-btn{
    /* float: right; */
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #2066a8a6;
    background-image: linear-gradient(135deg, #119ddd 10%, #364fdb 100%);
}