.DonationCard .container {
    padding: 0px 10px;
    position: relative;
    flex: 1;
    max-width: 100%;
    
}
#card-id  {
    border: 5px solid rgb(255 255 255);
    height: 30vw;
    width: 100vw;
    border-style: double;
    
}

.cold-md-6{
    display: flex;
    overflow:scroll;
    margin-left:50px;
    padding:10px;
}

.pic-donation{
    padding:10px;
    
}

.donation-card-profile{
    border-radius: 50%;
}

.donation-username-card{
    float:right;
    margin-right:120px;
    color: #000000;
}
.DonationCard {
    
    margin-top: 3vw;
}

.product-detail-content {
    margin-left:60px;
   

}
.DonationCard .info-card {
    text-align: left;
    margin-top: 40px;
}

.donation-image {
  height:50%;
  width:50%;
  border-radius: 20px;
  margin-top: 55px;
}

.donation-name {
    /* font-weight: bold;
    color: rgb(38, 38, 38);
    line-height: 1.5;  */
    color: #0f0f0f;
    /* font-weight: 600; */
    margin: 10px 0 0;
}
.DonationCard .title {
    padding:20px;
}
.donation-title {
    padding: 15px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #faf9f5;
}