
.yourdonation .donation-image{
    border-radius: 50%;
    height: 50%;
    width: 50%;
    margin-left: auto;
  margin-right: auto;
}
.yourdonation{
    padding: 30px;
}
.yourdonation  .details {
    /* padding: 10px 10px; */
    position: relative;
    flex: 1 1;
    width: 350px;
    height: 420px;
    background: #86b2e6;
    /* overflow: hidden; */
    /* box-shadow: 0 2px 10px #f5e3e3b6; */
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   font-weight: bold;
   cursor:auto;
    /* transition: transform 200ms ease-in; */
}

