.newPost{
    margin: 0 auto;
    height: 65vw;
    background-image: linear-gradient(10deg, #6cbee4 10%, #dee1ec 100%);
    border-radius: 10px;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    box-shadow: 0 0 20px 6px #9196e6;
    width: 70vw;
    padding: 24px 36px;
    overflow:scroll;
}
 .qtyMinus, .qtyPlus {
    width: 34px;
    height: 34px;
    background: #317bdb;
    border-color:  #317bdb;
    border-radius: 2px;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.qty {
    width: 60px;
    height:34px;
    text-align: center;
}

/* .form1 {
    margin-left: 75px;
   
} */

.form-input-donation {
    width: 190%;
    padding: 10px;
    /* margin-top: 25px; */
    font-size: 16px;
    border: none;
    outline: none;
    /* border-bottom: 2px solid #6d737e; */
}
/* .left-donation {
    margin-right: 25px;
    margin-top: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    
 
} */
/* .newform-text{
    margin-bottom:60px;
} */
.donation-form-pic{
    height: 30vw;
    width:30vw;
    margin-top: 3vw;
}

.left-donation h1 {
    font-size: 4vmax;
    line-height: 1;
    font-weight: 500;
    /* margin-top: 300px; */
    margin-bottom: 20px;
    color:rgb(0, 0, 0);
}


.title-name {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.form1 .input-field {
    text-align: left;
}

.location-info {
    padding: 10px 10px;
}

.post-button{
    cursor: pointer;
    color: #fff;
    align-content: center;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #adf;
    background: #317bdb;
}
.title-donation{
    font-size: 3vmax;
    line-height: 0;
    color: rgb(56, 55, 55);
}
.donation-input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    /* border: none; */
    outline: none;
    border-bottom: 2px solid #0d360c;
}
.new-form-input{
    width: 25vw;
    padding: 5px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #000000;
    margin-bottom: 15px;
    border-radius: 10px;
}

.description-input{
    width: 100%;
    height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    border-radius: 8px; 
}

.location-input{
    width: 10vw;
    /* padding: px; */
    border-radius: 8px; 
    font-size: 16px;
    margin-top: 5px;
    border-bottom: 2px solid #000000;
    margin-bottom: 15px;
    margin-right:10px;
   
} 