.Browse-Detail .donation-image{
    object-fit: contain;
    float:left;
}

.Browse-Detail .DonationCard .container {
    margin-left: 25vw;
    max-width: 50vw;
}
.bookingButton{
    border-radius: 4px;
    background: #317bdb;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #317bdb;
    cursor: pointer;
    margin-right: 300px;
}