.navlink {
    background-color: #53A2DF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin-left: auto;
    height:80px;
}
a {
    text-decoration: none;
}

.btn {
    float: left;
    padding: 8px ;
    font-size: 30px;
    /* text-decoration: none;
    border: 1px solid transparent;
    display: flex;
    align-items: center; 
     justify-content: center;
    white-space: nowrap; */
    font-weight: 200;
    cursor: pointer;
    transition: all .1s ease;
    border-radius: 4px;
    color: #fff;
    
}
.btn .logo {
    width: 100px;
    height: 90px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    
}

.ghost {
    display: none;
}

img {
    width: 50px;
    height: 50px;
    height: auto;
}
ul{
    list-style-type: none;

}

.navlink .userEmail {
    font-size: 18px;
    color:#000000 ;
    /* font-weight: 900; */

    /* background-color: #7382b3; */
}

.profile-icon {
    width: 50px;
    border-radius: 100%;
    height: 50px;
    border: 3px solid #fff;
}

.link-username{
    float:right;
    margin-top:40px;
    margin-left:5px;
    color:black;
    font-size:18px;
}

.navlink-image {
    width: 65px;
    height: auto;
    background-size: cover;
    margin-top: 12px;
}