.navlink {
    background-color: #256451;
    padding: 0 4rem;
    height: 73px;
}
a {
    text-decoration: none;
}
.btn {
    padding: 12px ;
    font-size: 30px;
    text-decoration: none;
    border: 1px solid transparent;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease;
    border-radius: 4px;
    color: #fff;
    
}