.resource-container {
    margin-top: 10px;
    
}

.safety {
    height: 200px;
    width: 800px;
    background-color: #97bbe7;
    border-radius: 20px;
    line-height: 1.7;
    align-self: center;
    padding: 10px;
    
}

.donation-safety {
    height: 230px;
    width: 800px;
    background-color: #97bbe7;
    border-radius: 20px;
    line-height: 1.7;
    align-self: center;
    margin: 20px 0;
    padding: 10px;
}

.donation-guidelines {
    font-weight: bold;
    font-size: 40px;
}

.donators {
    /* margin-right: 24vw; */
    height: 400px;
    width: 800px;
    background-color: #97bbe7;
    border-radius: 20px;
    line-height: 1.7;
    align-self: center;
    margin: 20px 0;
    padding: 10px;
    
}

/* .safety-wrapper{
    margin-left: 23vw;
} */

.resource-title{
    font-size:30px;
}

.emergency{
    font-weight: bold;
}

.donator-image2{
    width: 100px;
}

.donation-youPost{
    color: #3CA532;
    font-weight: bold;
    font-size: 40px;
}
.packaged {
    color: rgba(0, 0, 0, 0.98);
    font-weight: 200;
    font-size: 25px;
}
.donations-youcan{
    margin-left: 200px;
}

.safety-wrapper {
    display: flex;
    flex-direction: column
}